.elbody {

  align-items: center;
  justify-content: center;
width: 1000px;
height: 400px;

}




.parrafo {
  /* Alineacion del texto*/
text-align: center;
width: 1000px;
height: 400px;

}


